* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
li {
    list-style: none;
}
body
{
    padding-bottom: 18px;
}
.body__one-page__background{
    background: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-4369.jpg?w=1380&t=st=1702897283~exp=1702897883~hmac=f14ce5a6dd84668228c5bbd3600fcb7477e3be911fce1bb09360e2f33cfe849c) no-repeat;
    backdrop-filter: blur(15px);
    background-attachment: fixed;
    background-size: cover;
}

.body__two-page__background{
    background: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-4369.jpg?w=1380&t=st=1702897283~exp=1702897883~hmac=f14ce5a6dd84668228c5bbd3600fcb7477e3be911fce1bb09360e2f33cfe849c) no-repeat;
    backdrop-filter: blur(15px);
    background-attachment: fixed;
    background-size: cover;
}

.body__three-page__background{
    background: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-4369.jpg?w=1380&t=st=1702897283~exp=1702897883~hmac=f14ce5a6dd84668228c5bbd3600fcb7477e3be911fce1bb09360e2f33cfe849c) no-repeat;
    backdrop-filter: blur(15px);
    background-attachment: fixed;
    background-size: cover;
}
header{
    height: 75px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}
.container{
    width: 1700px;
    margin: 0 auto;
}
.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}
.header__wrap__btn{
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    background: #FC8507;
    border: 0;
    border-radius: 21px;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.55);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.55);
}
.header__wrap__logo{
    color: #000;
    font-family: Silkscreen;
    font-size: 35px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    padding-right: 20px;
}
.header__wrap__link{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
    padding-right: 25px;
}
.container__two{
    padding-top: 20px;
    width: 1080px;
    margin: 0 auto;
}
.item__block{
    width: 1080px;
    height: 240px;
    display: flex;
    margin-bottom: 25px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.55);
    background-color: #fff;
    border-radius: 17px;
}
.item__block__img{
    width: 200px;
    height: 200px;
    padding-top: 25px;
    padding-left: 25px;
}
.item__block__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__op__block{
    width: 750px;
    padding-top: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 35px;
    color: #000;
    font-family: Arial;
}
.item__block__prices{
    display: flex;
    justify-content: flex-end;
}
.items__block__price{
    color: #000;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    padding-left: 37px;
}

.items__block__btn{
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #FC8507;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    margin-left: 30px;
}
.items__block__text__btn{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}